/* SCSS - Ampersand Operator */

// Targeting child elements
.target {
  color: blue;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;

  .child {
    color: red; // Refers to .target .child
    background-color: yellow; // Makes the child element's background color easily visible
    padding: 5px;
    margin-top: 5px;
  }

  &:hover {
    background-color: lightblue; // Refers to .target:hover
  }
}

// Targeting sibling elements
#mainTarget {
  & ~ .target {
    background-color: antiquewhite;
    border-top: 12px solid blue; // Refers to .target ~ .target (subsequent siblings .target)
  }

  & + .target {
    margin-top: 20px; // Refers to .target + .target (next sibling .target)
    border-top: 2px solid yellowgreen;
    background-color: pink;
  }
}
